@media print {
	.intro {
		display: none;
	}

	.printHide {
		display: none;
	}
}

.calculate {
	float: left;
}

.status {
	display: inline-block;
}

.statusParent {
	display: table-row;
}

.invalidField {
	border:2px solid red;
}

.result {
	margin-left: 1em;

	&.success {
		color: #ff8c00;
	}

	&.failure {
	}

	&.error {
	}

	.icon {
		padding-right: 1ex;
		display: table-cell;
		vertical-align: middle;
	}

	@media print {
		display: block;
		margin-top: 1em;
		font-size: 150%;
	}
}
