@import './variables';

.chart {}

.axis {
    path,
    line {
        fill: none;
        stroke: none;
    }

    &.x path {
        stroke: fade(@body-color, 20%);
    }

    &.x text {
        fill: fade(@body-color, 20%);
    }

    &.y :global(.tick) line {
        stroke: none;
    }

    &.y text {
        fill: @body-color;
    }

    :global .tick line {
        stroke: fade(@body-color, 20%);
    }
}

.extension {

    rect {
        stroke: #9b000b;
        stroke-width: 3px;
        stroke-dasharray: 10;
        fill: fade(#9b000b, 10%);
    }

    text {
        fill: #9b000b;
        font-size: 2em;
    }
}

.project {

    rect {
        fill: #2c91d1;
        stroke: #2c91d1;
        stroke-width: 3px;
        cursor: pointer;

        &:hover {
            fill: #a8ebff;
            stroke: #2c91d1;
        }
    }

    text {
        fill: white;
        font-size: 2em;
    }

}

.ok  {
    fill: #07780b;
}
.warning  {
    fill: #dea52c;
}
.error  {
    fill: #9b000b;
}

.semaphore {
    stroke: white;
    stroke-width: 1
}
