@import './variables';

.chart {}

.axis {
    path,
    line {
        fill: none;
        stroke: none;
    }

    &.x path {
        stroke: fade(@body-color, 20%);
    }

    &.x text {
        fill: fade(@body-color, 20%);
    }

    &.y :global(.tick) line {
        stroke: none;
    }

    &.y text {
        fill: @body-color;
    }

    :global .tick line {
        stroke: fade(@body-color, 20%);
    }
}

.extension {

    rect {
        stroke: @color-failure;
        stroke-width: 3px;
        stroke-dasharray: 10;
        fill: fade(@color-failure, 10%);
    }

    text {
        fill: @color-failure;
        font-size: 2em;
    }

}

.positiveExtension {
    rect {
        stroke: @color-ok-light;
        fill: fade(@color-ok-light, 10%);
    }

    text {
        fill: @color-ok-light;
    }
}

.project {

    rect {
        fill: @color-bar-light;
        stroke: @color-bar-light;
        stroke-width: 3px;
        cursor: pointer;
        //opacity: 0.6;

        &:hover {
            fill: @color-bar;
            stroke: @color-bar;
        }
    }

    text {
        fill: white;
        font-size: 2em;
    }

}

.ok  {
    fill: @color-ok;
}
.warning  {
    fill: @color-warning;
}
.error  {
    fill: @color-failure;
}

.semaphore {
    stroke: white;
    stroke-width: 1
}

.active.project {
     rect {
        fill: @color-bar;
        stroke: @color-bar;
    }
}