@import './variables';

.chart {}

.axis {
    path,
    line {
        fill: none;
        stroke: none;
    }

    &.x path {
        stroke: @color-separator;
    }

    &.x text {
        fill: @color-separator;
    }

    &.y path {
        fill: none;
    }

    &.y text {
        fill: rgba(0, 42, 73, 0.5);
    }

    :global .tick line {
        stroke: rgba(0, 42, 73, 0.10);
    }
}

.extension {

    rect {
        stroke: #9b000b;
        stroke-width: 3px;
        stroke-dasharray: 10;
        fill: fade(#9b000b, 10%);
    }

    text {
        fill: #9b000b;
        font-size: 2em;
    }
}

.project {

    rect {
        fill: #2c91d1;
        stroke: #2c91d1;
        stroke-width: 3px;
    }

    text {
        fill: white;
        font-size: 2em;
    }

}

.ok  {
    fill: #07780b;
}
.warning  {
    fill: #dea52c;
}
.error  {
    fill: #9b000b;
}

.semaphore {
    stroke: white;
    stroke-width: 0.7
}
