@import './variables';

.footer {
    margin-top: 1em;
}

.logo {
    height: 3em;
    margin: auto;
    display: block;
    padding: 5px;

    @media (min-width: @screen-sm-min) {
        float: right;
    }
}

.floor {
    line-height: 1.5em;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid @separator-light;

    @media (min-width: @screen-sm-min) {
        line-height: 3em;
    }
}

@media print {
    .printHide {
        display: none;
    }
}

