@import './variables';

@media screen {
    .screenHide {
        display : none;
    }
}

.result {
    //margin-left: 1em;
    clear : both;

    @media print {
        display    : block;
        margin-top : 1em;
        font-size  : 150%;
        *, *:before, *:after {
            color : inherit !important;
        }
    }

    &.success {
        color : @color-ok !important;
    }

    &.failure {
        color : @color-failure !important;
    }
}

.projectHead {
    .name {
        margin-left : 2em;
        margin-bottom: 0;
        span {
            font-size: 150%;
        }
    }

    .icon {
        float      : left;
        position   : absolute;
        font-size  : 160%;
        margin-top : 3px;
    }
}


.description {
    margin-left   : 2em;
    margin-bottom : 2em;
}

.legend {
    li {
        list-style-type: none;
    }

    .ok i {
        color: @color-ok;
    }
    .warning i {
        color: @color-warning;
    }
    .error i {
        color: @color-failure;
    }
}